<article class="detail-article">
<h1 class="article-detail-title">
<%= @article.title %>
</h1>
<div class="article-dody">
<%= @article.created_at.strftime("%b %d, %y") %>
</div>
<div class="article-dody">
<%= @article.body %>
</div>
</article>
<%= link_to "Articles", articles_path, class: "btn btn-default btn-lg" %>